main/static/main/js/egrnsig.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://bi-soft.ru/avk-astra/egrnsig" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bi-soft.ru/avk-astra/egrnsig" targetNamespace="http://bi-soft.ru/avk-astra/egrnsig">
  <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://bi-soft.ru/avk-astra/egrnsig" version="1.1.0" xmlns:tns="http://bi-soft.ru/avk-astra/egrnsig">

    <element name="getFileSigRequest" xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType xmlns="http://www.w3.org/2001/XMLSchema">
            <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                    Запрос на подпись файла
                </documentation>
            </annotation>
            <sequence xmlns="http://www.w3.org/2001/XMLSchema">
                <element name="document" type="base64Binary" xmlns="http://www.w3.org/2001/XMLSchema">
                    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                        <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                            Документ для подписи
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="getFileSigResponse" xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType xmlns="http://www.w3.org/2001/XMLSchema">
            <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                    Ответ на запрос подписи файла
                </documentation>
            </annotation>
            <sequence xmlns="http://www.w3.org/2001/XMLSchema">
                <element name="signature" type="base64Binary" xmlns="http://www.w3.org/2001/XMLSchema">
                    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                        <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                            Документ подписи
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="getZipSigRequest" xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType xmlns="http://www.w3.org/2001/XMLSchema">
            <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                    Запрос на подпись файлов в архиве
                </documentation>
            </annotation>
            <sequence xmlns="http://www.w3.org/2001/XMLSchema">
                <element name="archive" type="base64Binary" xmlns="http://www.w3.org/2001/XMLSchema">
                    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                        <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                            ZIP архив
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="getZipSigResponse" xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType xmlns="http://www.w3.org/2001/XMLSchema">
            <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                    Ответ на запрос подписи файлов в архиве
                </documentation>
            </annotation>
            <sequence xmlns="http://www.w3.org/2001/XMLSchema">
                <element name="archive" type="base64Binary" xmlns="http://www.w3.org/2001/XMLSchema">
                    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                        <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                            ZIP архив с файлами и их подписями
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <complexType name="serviceFaultDetails" xmlns="http://www.w3.org/2001/XMLSchema">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                Детализация ошибки сервиса. Блок [SOAP-ENV:Fault/detail] нужно преобразовать к этому типу
            </documentation>
        </annotation>
        <sequence xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="errorCode" type="string" xmlns="http://www.w3.org/2001/XMLSchema">
                <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                    <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                        Код ошибки для отслеживания в логах
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="errorType" type="string" xmlns="http://www.w3.org/2001/XMLSchema">
                <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                    <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                        Категория ошибки (может отсутствовать)
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="message" type="string" xmlns="http://www.w3.org/2001/XMLSchema">
                <annotation xmlns="http://www.w3.org/2001/XMLSchema">
                    <documentation xml:lang="ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                        Сообщение с ошибкой
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

</schema>
  </wsdl:types>
  <wsdl:message name="getZipSigResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getZipSigResponse" name="getZipSigResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZipSigRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getZipSigRequest" name="getZipSigRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFileSigRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getFileSigRequest" name="getFileSigRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFileSigResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getFileSigResponse" name="getFileSigResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EgrnSigService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:operation name="getZipSig" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getZipSigRequest" name="getZipSigRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getZipSigResponse" name="getZipSigResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileSig" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getFileSigRequest" name="getFileSigRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getFileSigResponse" name="getFileSigResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EgrnSigServiceSoap11" type="tns:EgrnSigService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="getZipSig" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getZipSigRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getZipSigResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileSig" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getFileSigRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getFileSigResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EgrnSigServiceService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:port binding="tns:EgrnSigServiceSoap11" name="EgrnSigServiceSoap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="http://91.221.177.59:58377/egrnsig/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>